<nb-layout>

  <nb-layout-header fixed class="header">
    <nb-actions size="small">
      <nb-action icon="menu-outline" (click)="toggleSidebar()"></nb-action>
    </nb-actions>
    <ng-container *ngIf="userData$ | async as userData">
      <nb-user [name]="userData.username" *ngIf="userData.username !== undefined" [title]="userData.role" [nbContextMenu]="things" nbContextMenuTag="profile-menu"></nb-user>
    </ng-container>
  </nb-layout-header>

  <nb-sidebar fixed state="collapsed">
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
