  <nb-flip-card>
    <nb-card-front>
      <nb-card>
        <nb-card-header>
          <h3>Słowo</h3>
        </nb-card-header>
        <nb-card-body>
          {{ word.originalWord }}
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card>
        <nb-card-header>
          <h3>Tłumaczenie</h3>
        </nb-card-header>
        <nb-card-body>
          {{ word.translation }}
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
